body{
    background-color: rgba(0, 0, 0, 0.8);
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*width: calc(100%*3/5);*/
    min-width: 600px;
    padding: 0;
    margin: 0 auto; 
}
a{
    color: aqua;
}
nav, #name_border, aside, #inner_container{
    border: double thin grey;
}
.justify_space_between{
    justify-content: space-between;
}
#name_slogan{
    width: auto;
}
#site_name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 3% auto;
}
#slogan{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
h2{
    height: auto;
    padding: 5% auto;
    margin: 2%;
}
img{    
    height: 150px;
    width: 150px;
}
.centered{
    text-align: center; 
}
article{
    width: 99%;
    min-width: 10%;
    padding: 0 5% 5% 5%;
    margin: 0 auto;
}
.justified_indented{
    text-align: justify;
    text-indent: 15px;
}
aside {
    padding: 1%; 
    margin: 0 auto;
    flex-shrink: 1;
    width: 15%;
}
main{
    width: 70%;
}
section{
    width: 100%;
    margin: 0 auto;
}
iframe{
    width: 30%;
    height: auto;
    aspect-ratio: 16/9;
}
#in_article_video{
    width: auto;
}
#video{
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1% 0;
    margin: 0;
}
.box_hor{
    display: flex;
}
.box_vert{
    display: flex;
    flex-direction: column; 
}
footer>p, header>nav>p{
    padding: 1%;
    margin: 2%;
    font-size: 16px;
}
#aside_left{
    text-align: right;
    margin-right: 0;
}
#aside_right{
    text-align: left;
    margin-left: 0;
}
.text_aside{    
    font-style: italic;
    font-size: 11px;    
}
main, header, footer{
    background-color: rgb(80, 74, 67);
    border: thin double grey;
}
.justify_space_evenly{
    justify-content: space-evenly;
}