body{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: calc(100%*3/5);
    min-width: 500px;
    padding: 0 5%;
    margin: 0 auto; 
    border-color: rgb(255, 0, 0, 1); 
}
a{
    color: aqua;
}
article{
    width: auto;
    min-width: 10%;
    height: 250px;
    padding: 5%;
    margin: 2%;
    overflow-y: scroll;
}
aside {
    color: rgb(225, 188, 65);
    width: 15%;
    height: 90%;
    padding: 1%; 
    border: thin dotted;
}
section{
    width: 80%;
    height: auto;
    margin: auto;
}
h2{
    height: 25px;
    padding: 2% 1% 0;
    margin: auto;
}
iframe{
    width: 500px;
    height: 300px;
}
.box_outer{
    display: flex;
    flex: auto;
    justify-content: center;
}
.box{
    display: flex;
}
.justify_space_evenly{
    justify-content: space-evenly;
}
.justify_stretch{
    justify-content: right;
}
main, header, footer{
    background-color: rgb(80, 74, 67);
    padding: 0 0 1%;
    border: thin double;
}
footer>p, header>nav>p{
    padding: 1%;
    margin: 2%;
}
#art1{
    color: gold;
}
#art2{    
    color: goldenrod;
}
#aside_left{

    text-align: right;
    margin-right: 0;
}
#aside_right{
    text-align: left;
    margin-left: 0;
}
#video{
    justify-content: center;
    margin: 0;
}
.justified_indented{
    text-align: justify;
    text-indent: 15px;
}
.text_aside{    
    font-style: italic;
    font-size: 11px;    
}
.centered{
    text-align: center;    
}
.border_thin{
    border: thin solid;
}